@{
    ViewData["Title"] = "Αρχική";

}
<link rel="stylesheet" href="~/css/HomeStyle.css" />

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            Database Stats
        </div>
        <div class="col-sm-9">
                <table class"tablestyle" >
                    <tr><td>Κωδικός</td><td>Όνομα</td><td>Διεύθυνση</td><td>Ενέργειες</td></tr>
                    @{
                        bool isID = true;
                        System.String idd = System.String.Empty;
                        foreach (List<System.String> temp in ViewBag.Str)
                        {
                            @Html.Raw("<tr>");

                            foreach (System.String data in temp)
                            {
                                @Html.Raw("<td>");
                                if (isID)
                                {
                                    idd = data;
                                    //@Html.Raw("<a title=\"Επεξεργασία Πελάτη\" href=\"EditCustomer&id="+data+"\">");
                                }

                                @String.Format("{0}",data);
                                if (isID)
                                {
                                    //@Html.Raw("</a>");
                                    isID = false;

                                }
                                @Html.Raw("</td>");

                            }
                            isID = true;
                            @Html.Raw("<td><div class=\"row\"> " +
                           "<form action="+ Url.Action("Index","EditCustomer", new { id = idd }) +"> <button type=\"submit\" class=\"btn btn-xs btn-default col-sm-12\">Επεξεργασία</button></form>") ;
                            @Html.Raw("</tr>");



                        }
                    }

                </table>
            
        </div>
        <div class="col-sm-1">
            Επιλογές... <!-- Make Responsive-->
            <div class="row">
                <div class="col-sm-12">
                    <form action="NewUser"><button type="submit" class="btn btn-sm btn-default">Νεα Καταχώρηση</button></form>
                </div>
            </div>
        </div>
    </div>
</div>
