
@{
    ViewData["Title"] = "Επεξεργασία πελάτη";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.Success != null)
    {
        if (ViewBag.Success)
        {
            @Html.Raw("<h1>Επιτυχία!</h1><br><h4>Οι αλλαγές σας φαίνονται στον παρακάτω πίνακα..</h4>");

        }
        else
        {
            @Html.Raw("<h1>Αποτυχία!</h1><br><h4>Συμπληρώστε σωστά τα απαιτούμενα πεδία..</h4>");


        }
    }
}
<link rel="stylesheet" href="~/css/HomeStyle.css" />

<h2>Επεξεργασία Πελάτη...</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <ul>
                <li>Κωδικός <br>@ViewBag.cust.CustomerID</li>
                <li>Ονομα <br>@ViewBag.cust.Name</li>
                <li>Διεύθυνση <br> @ViewBag.cust.Address</li>
                
            </ul>
        </div>
        <div class="col-sm-9">
            <h5>Κανονισμένα Ραντεβού...</h5>
            <table class"tablestyle">
                <tr><td>Κωδικός</td><td>Περιγραφή</td><td>Ξεκινάει...</td><td>...Τελειώνει</td></tr>
                <form method="POST" id="SaveChanges">
                    @{
                        int counter=0;
                        foreach (ApiProject.DBClasses.Activity act in ViewBag.cust.Activities)
                        {
                            
                            @Html.Raw("<tr>");
                            @Html.Raw("<td>");
                            @Html.Raw("<input readonly type=\"text\" name=\"ActivityID"+counter+"\"value=\"" + act.ActivityID + "\">");
                            @Html.Raw("</td>");

                            @Html.Raw("<td>");
                            @Html.Raw("<input type=\"text\" name=\"Description"+counter+"\"value=\"" + act.Description + "\">");
                            @Html.Raw("</td>");

                            @Html.Raw("<td>");
                            @Html.Raw("<input type=\"text\"  name=\"StartDate"+counter+"\" value=\"" + act.StartDate + "\">");
                            @Html.Raw("</td>");

                            @Html.Raw("<td>");
                            @Html.Raw("<input type=\"text\"  name=\"EndDate"+counter+"\" value=\"" + act.EndDate + "\">");
                            @Html.Raw("</td>");
                            @Html.Raw("</tr>");
                            counter += 1;
                        }
                        @Html.Raw("<input hidden name=\"Results\" value=\""+counter+"\" >");
                    }
                    
                </form>

               </table>

        </div>
        <div class="col-sm-1">
            Επιλογές... <!-- Make Responsive-->
            <div class="row">
                <div class="col-sm-12">
                    <form action="@Url.Action("Index","NewActivity",new {id = ViewBag.cust.CustomerID})"><button type="submit" class="btn btn-sm btn-default">Νέο Ραντεβού</button></form>
                </div>
                <div class="col-sm-12">
                    <button type="submit" form="SaveChanges" class="btn btn-sm btn-default">Αποθήκευσε</button>
                </div>
            </div>
        </div>
    </div>
</div>

